body {
    background-color: #1a1a1a;
}

.jumbotron {
    background-color: #1a1a1a;
}

#word-blanks {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    text-align: center;
    font-size: 100px;
    padding: 10px;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

#guesses-left {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    text-align: center;
    font-size: 100px;
}

#guessedLetters {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    text-align: center;
    font-size: 100px;
    padding: 10px;
}

.container {
    top: 200px;
}

h4 {
    text-align: center;
}

h1 {
    color: #575757;
    text-align: center;
}

@media only screen and (max-width:768px) {
    #word-blanks, #guessedLetters {
        font-size: 75px;
    }
   
}

@media only screen and (max-width:640px) {
    #word-blanks, #guessedLetters {
        font-size: 50px;
    }
    
}